@charset "UTF-8";

@media screen and (min-width: 769px) {
    #s-1 {
        padding: 30px 0px;
    }

    #s-1 div img {
        display: block;
    }

    .d-1 {
        margin: 0px;
    }

    #s-2 {
        margin-top: 20px;
    }
}