@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');

:root {
    --font01: 'Carter One', cursive;
    --font02: 'Alfa Slab One', cursive;
    --font03: 'Assistant', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    background-image: linear-gradient(to bottom, #83abb357, #295a7a91);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

header nav a {
    color: #134A68;
    padding-right: 20px;
    font-family: var(--font03);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#s-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #134A68;
}

.d-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
}

#s-1 div h1 {
    font-family: var(--font01);
    font-size: 1em;
    color: #134A68;
}

#s-1 div h2 {
    font-family: var(--font03);
    font-size: 1em;
    color: #134A68;
}

#s-1 div button {
    height: 70px;
    width: 170px;
    margin-top: 50px;

    border-radius: 40px;
    border: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    background-color: #134A68;
    color: white;
    font-family: var(--font03);
    letter-spacing: 1.5px;
    cursor: pointer;
}

#s-1 div img {
    width: 180px;
    display: none;
}

#s-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 130px;
    background-color: aqua;
}

#s-2 h3 {
    font-family: var(--font02);
    font-weight: 200;
    color: #134A68;
}

#s-2 p {
    max-width: 400px;
    font-family: var(--font03);
    color: white;
    letter-spacing: 2px;
    font-size: .7em;
    text-align: justify;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    height: 50px;
    width: 100vw;
    background-color: aquamarine;
}