@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 60px;
}

header > p {
    padding-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--font2);
    font-weight: lighter;
    font-size: 25px;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 18px;
}

.normal {
    background-color: white;
}

.p-margin {
    margin-top: 20px;
}

.imagem1 {
    color: white;
    padding-left: 0px;
    background: black url(../imagens/background001.jpg) bottom right no-repeat fixed;
    background-size: cover;
}

.imagem2 {
    background: black url(../imagens/background002.jpg) bottom right no-repeat fixed;
    background-size: cover;
    color: white;
    padding-left: 0px;
}

.p-img {
    background-color: rgba(0, 0, 0, 0.438);
    width: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
    font-weight: lighter;
    font-variant: small-caps;
    padding: 10px;
}